.promotion {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url('/assets/crew.jpg');
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    z-index: 1;
    .promo-container {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        
        @include respond(lg) {
            width: 992px;
        }

        @include respond(xl) {
            width: 1200px;
        }

       
    }
    .promo-row {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .promo-colum {
        display: flex;
        flex: 0 0 85%;
        margin: 0 auto;
        @include respond(sm) {
            flex: 0 0 88%;
            margin: 0 auto;
        }
        @include respond(xl) {
            flex: 0 0 50%;
        }
    }

    .promo-colum--tall {
        height: 100%;
        @include respond(xl){
            height: auto;
        }
    }

    .title {
        position: relative;
        align-self: flex-end;
        width: 100%;
        height: 100px;
        @include respond(sm) {
            width: 80%;
        }
        @include respond(xl) {
            align-self: center;
            width: 90%;
        }
        .copy {
            position: absolute;
            width: 100%;
            z-index: 2;
            margin: 0;
            padding: 0;
            font-family: 'Lato';
            font-size: 50px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            color:$base-color;
            @include respond(sm) {
                font-size: 70px;
            }
        }
        .underline {
            position: absolute;
            bottom: 34px;
            width: 100%;
            height: 12px;
            z-index: 1;
            border-top: 2px solid $black;
            @include respond(sm) {
                bottom: 10px;
            }
        }
    }

    .column-product__container {
        width: 100%;
        height:400px;
        align-self: flex-start;
        background: linear-gradient(rgba(229,228,226,.5), rgba(229,228,226,.5));
        display: flex;
        flex-wrap: wrap;
        @include respond(xl) {
            align-self: center;
        }
        .product {
            flex: 0 0 33.333%;
            height: 200px;
            position: relative;
            &:hover {
                .product-btn {
                    transition: all .3s;
                    background: $platinum;
                    color: $nav-dark;
                    
                }
            }
            .product-btn {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
                width: 70%;
                height: 40px;
                background: $nav-dark;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                color:$platinum;
                &:active, &:link {
                    text-decoration: none;
                    color:$platinum;
                }
            }
        }     

        .product--golden {
            background: $golden;
        }
        
    }

    
}

.stroke {
    display: none;
    @include respond(lg) {
        display: block;
    }
    position: relative;
   top: 0;
   left: 0;
   right: 0;
   height: 200px;
    z-index: 2;
    
    background-image: url('/assets/Stroke.png');
    background-position: top;
    background-size: cover;
    margin-top: -85px;

}